* {
   margin: 0;
   padding: 0;
}
.item {
   max-width: 400px;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   background-color: var(--white);
}

.videoText {
   padding: 0 3%;
}
.videoText-right {
   display: flex;
   flex-direction: column;
}
.videoTitle {
   color: var(--black);
   font-weight: 700;
}

.channelnameStat {
   color: gray;
   display: flex;
   flex-direction: column;
   padding: 3% 0;
   font-size: 1.4rem;
}
.channelnameStat p {
   margin: 0;
}
